<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <com.excelman.test.bean id="userDao" class="com.excelman.test.test.UserDao"/>

    <com.excelman.test.bean id="userService" class="com.excelman.test.test.UserService">
        <property name="uid" value="uid1" />
        <property name="userDao" ref="userDao" />
    </com.excelman.test.bean>

</beans>