<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="UserDao"/>

    <bean id="userService" class="UserService">
        <property name="uid" value="uid1"/>
        <property name="company" value="无"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.excelman.test.common.MyBeanPostProcessor"/>
    <bean class="com.excelman.test.common.MyBeanFactoryPostProcessor"/>

</beans>